@using Workshop.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
    @await RenderSectionAsync("Styles", required: false)
    <style>
        .dropdown-menu, .dropdown-item:hover, .dropdown-item:focus {
            -webkit-border-radius: 15px 15px 15px 15px;
            -moz-border-radius: 15px 15px 15px 15px;
            border-radius: 15px 15px 15px 15px;
            color: #16181b;
            text-decoration: none;
            background-color: rgba(255,255,255,0.2);
        }
    </style>
</head>

<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom border-custom-gold navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/avatar.png" width="64" height="64" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-chocolate font-weight-bold" target="_blank" href="https://github.com/DanielJekov">Github</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-chocolate font-weight-bold" asp-area="" asp-controller="Home" asp-action="Resourses">Resourses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-chocolate font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_CookieConsentPartial" />
            @this.RenderBody()
        </main>
    </div>

    <div aria-live="polite" aria-atomic="true" style="z-index: 11; position: fixed; min-height: 0px;">
        <div id="notifications" style="position: fixed; bottom: 50px; right: 50px;">
        </div>
    </div>

    <footer class="border-custom-gold border-top footer text-muted bg-dark text-center">
        <div class="container text-chocolate">
            &copy; @DateTime.Now.Year - Daniel @GlobalConstants.SystemName
        </div>
    </footer>

    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @if (this.Context.User.Identity.IsAuthenticated)
    {
        <script src="~/js/notification.js" asp-append-version="true"></script>
    }
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
