@using Workshop.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom border-custom-gold navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/avatar.png" width="64" height="64" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-chocolate font-weight-bold" target="_blank" href="https://github.com/DanielJekov">Github</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-chocolate font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (this.Context.User.Identity.IsAuthenticated &&
this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-chocolate font-weight-bold" asp-area="Learning" asp-controller="Courses" asp-action="All">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-chocolate font-weight-bold" asp-area="Administration" asp-controller="Roles" asp-action="All">Roles</a>
                            </li>
                        }
                    </ul>
                </div>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <form class="form-inline">
                        <div class="dropdown">
                            <input id="searchInput" class="form-control mr-sm-2 border-all-borders-gold text-warning  dropdown-toggle" type="search" placeholder="Search" aria-label="Search" style="background-color: transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div id="result-list" class="dropdown-menu border-all-borders-gold" aria-labelledby="searchInput" style="background-color: #3f474e !important; overflow: auto; width: 300px; max-width:300px">
                                <div class="dropdown-item search-result text-green search-element-deletable">Try to search by given word</div>
                            </div>
                        </div>
                    </form>
                }

                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_CookieConsentPartial" />
            @this.RenderBody()
        </main>
    </div>

    <div aria-live="polite" aria-atomic="true" style="z-index: 11; position: fixed; min-height: 0px;">
        <div id="notifications" style="position: fixed; bottom: 50px; right: 50px;">
        </div>
    </div>

    <footer class="border-custom-gold border-top footer text-muted bg-dark text-center">
        <div class="container text-chocolate">
            &copy; @DateTime.Now.Year - Daniel @GlobalConstants.SystemName
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://momentjs.com/downloads/moment.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @if (this.Context.User.Identity.IsAuthenticated)
    {
        <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
        <script src="~/js/search-loader.js" asp-append-version="true"></script>
        <script src="~/js/notifications.js" asp-append-version="true"></script>
    }
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
